
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body id="body" class="m-4">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Tech Blog!</a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/dashboard">profile</a> 
        <button class="no-button" id="logout">logout</button>
        <a href="/">Homepage</a>
        {{else}}
        <a href="/login">Login</a>
        <a href="/">Homepage</a>
        {{/if}}
      </nav>
    </header>
    {{{body}}}
      {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>