<form class="form" id="new-post" data-post-id="{{id}}">
         <div class="form-group">
          <label>Post Title</label>
        <input type="text" id="title" value="{{title}}">
        <label for="post">Tell us your thoughts!</label>
        <textarea class="form-input" type="text" id="post" name="post">{{content}}</textarea>
        <button type="submit" id="post-btn">Post</button>
        <script src="../js/edit-post.js"></script>